<div class="container">
    <h4>Form</h4>
    <div class="row">
        <div class="col s12">
            <input type="checkbox" id="isSaved" disabled checked="{{user.isSaved}}"/>
            <label for="isSaved"> Is model saved?</label>
        </div>
        <div class="input-field col m6 s12">
            <input id="user-name" type="text" value="{{user.name}}">
            <label {{#if user.name}}class="active"{{/if}} for="user-name">Your name</label>
        </div>

        <div class="input-field col m6 s12">
            <select class="dropdown" data-attribute="user.currentCar" value="{{user.currentCar}}">
                <option selected disabled>Choose your vehicle</option>
                {{#cars}}
                    <option value='{{id}}' {{#if (user.currentCar === id)}}selected{{/if}}>{{name}}</option>
                {{/cars}}
            </select>
        <label>Select your car</label>
  </div>
    </div>
    <div class="center-align save-container">
        {{#unless user.isSaved}}
        <div intro-outro="fade:fast">
            <a class='save btn'>Save</a>
            <a class='undo btn'>Undo</a>
        </div>
        {{/unless}}
    </div>
    <h4>Result</h4>
    {{> helloPage}}
    <br />
    <div>
        <a class='remove btn'>Remove View</a>
    </div>
</div>
