<div>
    <h4>Form</h4>
    <div class="row">
        <div class="col s12">
            <input type="checkbox" id="isSaved" disabled checked="{{user.isSaved}}"/>
            <label for="isSaved"> Is model saved?</label>
        </div>
        <div class="col s4">
            <input type="text" value="{{user.name}}" />
        </div>

        <div class="col s4">
            <select class="dropdown" data-attribute="user.currentCar" value="{{user.currentCar}}">
                <option selected disabled>Choose your vehicle</option>
                {{#cars}}
                    <option value='{{id}}' {{#if (user.currentCar === id)}}selected{{/if}}>{{name}}</option>
                {{/cars}}
            </select>
        <label>Select your car</label>
  </div>
    </div>
    {{#unless user.isSaved}}
    <a class='save btn'>Save</a>
    <a class='undo btn'>Undo</a>
    {{/unless}}
    <h4>Result</h4>
    {{> helloPage}}
</div>
